<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Embarcado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>

  <ion-item lines="full">
    <ion-label position="floating">Descrição</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Firmware</ion-label>
    <ion-input type="int" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Localização</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Status</ion-label>
    <ion-select value="Selecionar">
      <ion-select-option value="Pendente">Pendente</ion-select-option>
      <ion-select-option value="Desativado">Desativado</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">MAC Embarcado</ion-label>
    <ion-input type="int" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">IP Embarcado</ion-label>
    <ion-input type="int" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Porta MQTT</ion-label>
    <ion-input type="int" required></ion-input>
  </ion-item>

  <ion-button type="submit" color="success" expand="block">SALVAR</ion-button>
  <ion-button type="submit" color="danger" expand="block">CANCELAR</ion-button>

</ion-card>
</ion-content>