<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Ambiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-item>
    <ion-label>Unidade:</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="administrativo">1</ion-select-option>
      <ion-select-option value="anfiteatro">2</ion-select-option>
      <ion-select-option value="auditorio">3</ion-select-option>
      <ion-select-option value="comportamental">4</ion-select-option>
      <ion-select-option value="laboratorio">5</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de Ambiente:</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="administrativo">Administrativo</ion-select-option>
      <ion-select-option value="anfiteatro">Anfiteatro</ion-select-option>
      <ion-select-option value="auditorio">Auditório</ion-select-option>
      <ion-select-option value="comportamental">Comportamental</ion-select-option>
      <ion-select-option value="laboratorio">Laboratório</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Nome:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Capacidade:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Quantidade de Computadores:</ion-label>
    <ion-input type="int" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">IP Câmera:</ion-label>
    <ion-input type="int" required></ion-input>
  </ion-item>


  <ion-button type="submit" color="success" expand="block">SALVAR</ion-button>

  <ion-button type="submit" color="danger" expand="block">CANCELAR</ion-button>


</ion-card>
</ion-content>
