<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Embarcados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-button color="warning" slot="end">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-label>
        <h5>Localização A</h5>
        <h6>MAC = xx:xx:xx:x1</h6>
      </ion-label>
      <ion-text></ion-text>
    </ion-item>

    <ion-item>
      <ion-button color="warning" slot="end">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-label>
        <h5>Localização B</h5>
        <h6>MAC = xx:xx:xx:x2</h6>
      </ion-label>
      <ion-text></ion-text>
    </ion-item>

    <ion-item>
      <ion-button color="warning" slot="end">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-label>
        <h5>Localização C</h5>
        <h6>MAC = xx:xx:xx:x3</h6>
      </ion-label>
      <ion-text></ion-text>
    </ion-item>

    <ion-item>
      <ion-button color="warning" slot="end" >
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-label>
        <h5>Localização D</h5>
        <h6>MAC = xx:xx:xx:x4</h6>
      </ion-label>
      <ion-text></ion-text>
    </ion-item>

  </ion-list>
  <ion-button type="submit" color="success" expand="block" [routerLink]="['/embarcados']">Cadastrar Embarcado</ion-button>

</ion-content>
